<!DOCTYPE html>
<html lang="es-CL">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  {% load static %}
  <link rel="stylesheet icon" href="{% static 'img/dog (1).png' %}">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load static %} 
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
  <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  
  <link href="{% static 'calculator.css' %}" rel="stylesheet">
  <script src="{% static 'calculator.js' %}"></script>

  <title>Nuestros Productos - Tu Mascota Feliz</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
    {% load static %} 
      <a href="{% url 'home' %}" id="logoMascotaFeliz">
          <img src="{% static 'img/dog (1).png' %}" alt="logoMascotaFeliz" width="40px">Tu Mascota Feliz
      </a>
      <!-- botón hamburguesa -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'galeria' %}">Nuestros Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'somos' %}">¿Quiénes somos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'feriados' %}">Feriados</a>
            </li>
          </ul>
        <br>
            
    {% if user.is_authenticated %}
    <div>
        <a href="#">Bienvenid@ {{user.username}}</a>
        <a href="" id="userBookStop" class="btn btn-success">Productos </a>
        <a href="" id="userBookStop" class="btn btn-success">Clientes </a>
        <a href="{% url 'logout' %}" class="btn btn-primary">Cerrar Sesión</a>
    </div>    
    {% else %} 
    <div>
        <a href="{% url 'register' %}" id="userBookStop" class="btn btn-success">Registrarte </a>
        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión </a>
    {% endif %}    
        
    </div>
</div>
</nav>
  <main role="main" class="container">
    <div class="c-wrapper">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>

            </ol>
            <div class="carousel-inner" style="border-radius: 7px;">
                <div class="carousel-item active">
                  <img class="img-fluid" src="{% static 'img/homebanner.png' %}"
                        alt="">

                </div>

        </div>
    </div>
   <!-- productos --> 
  <div class="container-fluid">  
    {% load static %}  
    <br><br>
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            <img class="card-img-top" src="{% static 'img/correa1.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Correa Retráctil</h4>
              <p class="card-text">Estas correas retráctiles están diseñadas para controlar las distancias que tu mascota avanza <br><i class="fa fa-dollar"></i> 3.190 c/u<br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 14</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>          
      </div>

      <div class="col-md">        
        <div class="card">
          <img class="card-img-top" src="{% static 'img/bandana1.jpg' %}">            
          <div class="card-body">
            <h4 class="card-title">Bandanas</h4>
            <p class="card-text">Estas bandanas están diseñadas para darle glamour a tu mascota.<br><i class="fa fa-dollar"></i> 1.990 c/u<br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 20</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>          
    </div>

      <div class="col-md">        
        <div class="card">
          <img class="card-img-top" src="{% static 'img/id-1.jpg' %}">            
          <div class="card-body">
            <h4 class="card-title">Chapa de Identificación</h4>
            <p class="card-text">Con esta Chapa de Identificación puedes poner datos como el nombre de tu mascota, un número en caso de emergencia, entre otras cosas <br><i class="fa fa-dollar"></i>  1.490 c/u <br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 2</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>          
    </div>
  <br><br>
  <hr>
  <div class="container-fluid">   
    <br><br>
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            <img class="card-img-top" src="{% static 'img/banoparagatos.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Baño para gatos</h4>
              <p class="card-text">Este baño de gatos es ideal para aquellas personas que no disponen de
                tanto espacio en su hogar.<br><i class="fa fa-dollar"></i> 12.990 c/u <br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 6</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>          
      </div>

      <div class="col-md">        
        <div class="card">
          <img class="card-img-top" src="{% static 'img/jaultransporte.jpg' %}">            
          <div class="card-body">
            <h4 class="card-title">Jaula de transporte </h4>
            <p class="card-text">Con esta Jaula de transporte,
                 salir con tu mascota no será problema, 
                 pues la podrás trasladarla en tu auto o caminando, 
                 de manera segura y muy cómoda. 
                 <br><i class="fa fa-dollar"></i> 22.990 c/u <br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 7</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>          
    </div>

    <div class="col-md">        
        <div class="card">
          <img class="card-img-top" src="{% static 'img/rascgatos.jpg' %}">            
          <div class="card-body">
            <h4 class="card-title">Arbol rascador para gato 112 cm</h4>
            <p class="card-text">Este Arbol rascador para gatos de 112 cm, es perfecto para que tu mascota no rompa tus cortinas. <br><i class="fa fa-dollar"></i> 29.990 c/u <br> <i class="fa fa-stack-exchange"></i> Stock Disponible: 2</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>          
    </div>
</div>
<h1>¡Calcula tus compras!</h1>
<br>
<form>
    
  <table style="border: 3px solid #000; text-align:center;">
    <tr style="text-align:center;">
      <td colspan = "4">
        <input id="resultado" type="text" value="0" size="20" style="border: 3px solid blue; padding: 10px;" /><input id="memoria" type="hidden" value="0" />
      </td>
    </tr>
  
    <tr style="text-align:center;">
      <td>
      <input type="button" value="7"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=7}else{ var str2='7'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="8"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=8}else{ var str2='8'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="9"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=9}else{ var str2='9'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="/"
        onClick="operaciones('dividir'); return false;"
        style="width:55px">
      </td>
    </tr>
  
    <tr style="text-align:center;">
      <td>
      <input type="button" value="4"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=4}else{ var str2='4'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="5"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=5}else{ var str2='5'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="6"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=6}else{ var str2='6'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="*"
        onClick="operaciones('multiplicar'); return false;"
        style="width:55px">
      </td>
    </tr>
  
    <tr style="text-align:center;">
      <td>
      <input type="button" value="1"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=1}else{ var str2='1'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="2"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=2}else{ var str2='2'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="3"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=3}else{ var str2='3'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px">
      </td>
      <td>
      <input type="button" value="-" 
        onClick="operaciones('restar'); return false;"
        style="width:55px">
      </td>
    </tr>
  
    <tr style="text-align:center;">
      <td>
      <input type="button" value="0"
        onClick="var str1=document.getElementById('resultado').value; if(str1 == '0')
        {document.getElementById('resultado').value=0}else{ var str2='0'; var res = str1.concat(str2);
        document.getElementById('resultado').value=res;}"
        style="width:55px"> 
      </td>
      <td colspan="2">
      <input type="button" value="="
        onClick="operaciones('igual'); return false;"
        style="width:110px">
      </td>
      <td>
      <input type="button" value="+"
        onClick="operaciones('sumar'); return false;"
        style="width:55px">
      </td>
    </tr>
  
  
  </table>	
    
  </form>
  
  
  
  <script>
  
  function operaciones(op)
  {
  
      var ops = {
          sumar: function sumarNumeros(n1, n2) {
              return (parseInt(n1) + parseInt(n2));
          },
  
          restar: function restarNumeros(n1, n2) {
              return (parseInt(n1) - parseInt(n2));
          },
          
          multiplicar: function multiplicarNumeros(n1, n2) {
              return (parseInt(n1) * parseInt(n2));
          },
  
          dividir: function dividirNumeros(n1, n2) {
              return (parseInt(n1) / parseInt(n2));
          }
  
  
      };
  
    var operacion;
  
    switch(op) {
      case 'sumar':
        var operando1 = document.getElementById("resultado").value;
        document.getElementById("resultado").value = operando1 + "+";
        operacion = document.getElementById("resultado").value;
        document.getElementById("memoria").value = "suma";
        break;
      case 'restar':
        var operando1 = document.getElementById("resultado").value;
        document.getElementById("resultado").value = operando1 + "-";
        operacion = document.getElementById("resultado").value;
        document.getElementById("memoria").value = "resta";
        break;
      case 'multiplicar':
        var operando1 = document.getElementById("resultado").value;
        document.getElementById("resultado").value = operando1 + "*";
        operacion = document.getElementById("resultado").value;
        document.getElementById("memoria").value = "multiplicacion";
        break;
      case 'dividir':
        var operando1 = document.getElementById("resultado").value;
        document.getElementById("resultado").value = operando1 + "/";
        operacion = document.getElementById("resultado").value;
        document.getElementById("memoria").value = "division";
        break;
        
      case 'igual':	
        
        operacion = document.getElementById("resultado").value;
        
        var memoriaop = document.getElementById("memoria").value;
        
        switch(memoriaop) {
          case 'suma':
            var operandos = operacion.split("+");
            var resultado = ops.sumar(operandos[0], operandos[1]);
            document.getElementById("resultado").value = resultado;
            break;
          case 'resta':
            var operandos = operacion.split("-");
            var resultado = ops.restar(operandos[0], operandos[1]);
            document.getElementById("resultado").value = resultado;
            break;
          case 'multiplicacion':
            var operandos = operacion.split("*");
            var resultado = ops.multiplicar(operandos[0], operandos[1]);
            document.getElementById("resultado").value = resultado;
            break;
          case 'division':
            var operandos = operacion.split("/");
            var resultado = ops.dividir(operandos[0], operandos[1]);
            document.getElementById("resultado").value = resultado;
            break;					
        
        }	
        
  
        break;
        
  
    }
  
  
  }
  
  </script>  




</main><br>
<footer>
    <div class="row col-12">
        <div class="col-lg-2">
            <img src="img/dog (1).png" alt="logoMascotaFeliz" width="60px">
        </div>
        <div class="col-lg-2">
            <a href="home.html" id="linkFooter"><strong>INICIO</strong></a>
        </div>
        <div class="col-lg-2">
          <a href="galeria.html" id="linkFooter"><strong>PRODUCTOS</strong></a>
        </div>
        <div class="col-lg-2">
          <a href="somos.html" id="linkFooter"><strong>¿QUIÉNES SOMOS?</strong></a>
        </div>

        <div class="col-lg-2">
            <strong>Síguenos</strong>
            <br><br>
            <div class="row">
                <img src="img/2000px-Facebook_font_awesome.svg.png" alt="" width="30px" height="30px"
                    style=" margin-left: 15px;">
                <img src="img/twitter.png" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                <img src="img/Instagram.png" alt="" width="30px" height="30px" style=" margin-left: 10px;">

            </div>
        </div>


        <div class="col-lg-2">

            <strong>Contacto</strong>
            <br><br>
            <div class="row">
                <img src="img/location.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>Av. Esq. Blanca 501, Maipú</p>
            </div>
            <div class="row">
                <img src="img/fono.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>225554000</p>
            </div>
            <div class="row">
                <img src="img/email.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>consulta@tumascotafeliz.cl</p>
            </div>
            <br><br><br>

            <p> Cristian Jara Carter &copy; Copyright Derechos reservados.
                <br><br>Iconos: https://www.flaticon.com/
            </p>
        </div>
    </div>
</footer>



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/validacion.js"></script>
</body>
</html>