<!DOCTYPE html>
<html lang="es-CL">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="img/dog (1).png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="css/estilos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>¿Quiénes Somos? - Tu Mascota Feliz</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
      <a href="home.html" id="logoMascotaFeliz">
          <img src="img/dog (1).png" alt="logoMascotaFeliz" width="40px">Tu Mascota Feliz
      </a>
      <!-- botón hamburguesa -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="home.html">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="galeria.html">Nuestros Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="somos.html">¿Quiénes somos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="feriados.html">Feriados</a>
            </li>
          </ul>
          <div>
            <a href="login.html" id="userBookStop">
                <img src="img/user-vector-icon.png" alt="usuarioMascota" width="30px"  >Registrarte/Iniciar sesión 
            </a>
        </div>
      </div>
  </nav>
  
  <main role="main" class="container">
    <div class="c-wrapper">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>

            </ol>
            <div class="carousel-inner" style="border-radius: 7px;">
                <div class="carousel-item active">
                  <img class="img-fluid" src="img/homebanner3.png"
                        alt="">

                </div>

        </div>
    </div>
    <hr>
    <div class="row jumbotron" id="qSomos">
        <div class="col-lg-6">
            <div>
                <h1>¿Quiénes Somos?</h1><br>
                <p>
                    Somos un grupo de amigas que partió vendiendo productos para mascotas a través de redes sociales para ayudar a una fundación 
                    sin fines de lucro. Sin embargo, debido a la alta demanda, se nos hizo muy dificil continuar pero ahora con nuestra página web,
                    hemos podido consolidarnos y crear nuestra tienda "Tu Mascota Feliz". Además, hemos mejorado el sistema de venta y el
                    despacho de nuestros productos.
                    <br><br>
                    Nuestra visión se basa en la ayuda y solidaridad con los animalitos de nuestro entorno, por lo que disponemos de una gran convicción de 
                    querer hacer un mundo más feliz para tod@s
                    <br><br>
                    Finalmente, como tienda, tenemos la misión de dar los mejores accesorios para todas aquellas mascotas que merecen un amor eterno. Como también
                    nos hemos comprometido ayudar fundaciones sin fines de lucro de rescates de animalitos.
                    <br><br>
                    A tu derecha puedes ver una imagen de Blaki, un perrito que fue salvado de un accidente y cuidado por la fundación.<br><br>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="img/foto2.jpg" alt="Quiénes Somos" class="img-fluid">
        </div>
    </div>
    <hr><br>
    <div class="row jumbotron" id="qSomos">
        <div class="col-lg-8">
            <div>
                <h2>27 articulos recomendados para tu mascota.</h2><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/C5rpa-jE6AA" 
                title="27 articulos recomendados para tu mascota." 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen c>
                </iframe>
            </div>
        </div>
    </div>
    <hr><br>




</main><br>
<footer>
    <div class="row col-12">
        <div class="col-lg-2">
            <img src="img/dog (1).png" alt="logoMascotaFeliz" width="60px">
        </div>
        <div class="col-lg-2">
            <a href="home.html" id="linkFooter"><strong>INICIO</strong></a>
        </div>
        <div class="col-lg-2">
          <a href="galeria.html" id="linkFooter"><strong>PRODUCTOS</strong></a>
        </div>
        <div class="col-lg-2">
          <a href="somos.html" id="linkFooter"><strong>¿QUIÉNES SOMOS?</strong></a>
        </div>

        <div class="col-lg-2">
            <strong>Síguenos</strong>
            <br><br>
            <div class="row">
                <img src="img/2000px-Facebook_font_awesome.svg.png" alt="" width="30px" height="30px"
                    style=" margin-left: 15px;">
                <img src="img/twitter.png" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                <img src="img/Instagram.png" alt="" width="30px" height="30px" style=" margin-left: 10px;">

            </div>
        </div>


        <div class="col-lg-2">

            <strong>Contacto</strong>
            <br><br>
            <div class="row">
                <img src="img/location.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>Av. Esq. Blanca 501, Maipú</p>
            </div>
            <div class="row">
                <img src="img/fono.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>225554000</p>
            </div>
            <div class="row">
                <img src="img/email.png" alt="" width="20px" height="20px"
                    style="margin-right: 10px; margin-left: 15px;">
                <p>consulta@tumascotafeliz.cl</p>
            </div>
            <br><br><br>

            <p>Cristian Jara Carter &copy; Copyright Derechos reservados.
                <br><br>Iconos: https://www.flaticon.com/
            </p>
        </div>
    </div>
</footer>
    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/validacion.js"></script>


</body>
</html>